# {05D8C294-F295-4dfb-9D01-096BD04049F4}
# GenApi persistence file (version 3.4.0)
# RemoteDevice = Sentech::STC_U3V_SO3 -- Sentech Camera Interface -- Device version = 2.0.11 -- Product GUID = 8DAD772D-126A-4D45-8FCF-C57304CB412B -- Product version GUID = 106AA8C3-6264-4E57-8C5B-2E3BBE5419EF
DeviceLinkThroughputLimitMode	{DeviceLinkSelector=0}	Off
DeviceLinkSelector	0
DeviceLinkThroughputLimit	{DeviceLinkSelector=0}	398831548
DeviceLinkSelector	0
SensorShutterMode	Global
RegionSelector	Region0
Width	{RegionSelector=Region0}	720
RegionSelector	Region0
Height	{RegionSelector=Region0}	540
RegionSelector	Region0
OffsetX	{RegionSelector=Region0}	0
RegionSelector	Region0
OffsetY	{RegionSelector=Region0}	0
RegionSelector	Region0
PixelFormat	{ImageComponentSelector=Intensity}	Mono8
ImageComponentSelector	Intensity
ReverseX	0
ReverseY	0
MultiROIsInMultiPayloads	CombinedSquare
PriorityMode	ImageQuality
TriggerMode	{TriggerSelector=FrameStart}	Off
TriggerMode	{TriggerSelector=ExposureStart}	Off
TriggerMode	{TriggerSelector=ExposureEnd}	Off
TriggerSelector	FrameStart
TriggerSelector	FrameStart
TriggerSelector	FrameStart
TriggerSelector	FrameStart
TriggerSelector	FrameStart
ExposureMode	Timed
ExposureAuto	Off
AcquisitionFrameRateBlankingLine	7952
ExposureTimeValue	{ExposureTimeSelector=Common}	1000119
ExposureTimeSelector	Common
ExposureAutoLimitMaxValue	0
ExposureAutoLimitMinValue	100
Gain	{GainSelector=AnalogAll}	6
Gain	{GainSelector=DigitalAll}	0
GainSelector	AnalogAll
GainAuto	{GainSelector=AnalogAll}	Off
GainSelector	AnalogAll
GainSelector	AnalogAll
GainSelector	AnalogAll
GainSelector	AnalogAll
BlackLevel	{BlackLevelSelector=AnalogAll}	0
BlackLevelSelector	AnalogAll
Gamma	1
LineMode	{LineSelector=Line0}	Input
LineMode	{LineSelector=Line1}	Input
LineMode	{LineSelector=Line2}	Input
LineSelector	Line0
LineInverter	{LineSelector=Line0}	1
LineInverter	{LineSelector=Line1}	1
LineInverter	{LineSelector=Line2}	1
LineSelector	Line0
LineSelector	Line0
UserOutputValue	{UserOutputSelector=UserOutput0}	0
UserOutputValue	{UserOutputSelector=UserOutput1}	0
UserOutputValue	{UserOutputSelector=UserOutput2}	0
UserOutputSelector	UserOutput0
StrobeOutDelay	30
StrobeOutOnTime	32
TriggerOutDelay	0
TriggerOutOnTime	32
LineDeviceResetMode	Off
LineDebounceTime	1
EventNotification	{EventSelector=ExposureStart}	Off
EventNotification	{EventSelector=ExposureEnd}	Off
EventSelector	ExposureEnd
ChunkModeActive	0
ChunkEnable	{ChunkSelector=CounterValue}	0
ChunkEnable	{ChunkSelector=Gain}	0
ChunkEnable	{ChunkSelector=BlackLevel}	0
ChunkEnable	{ChunkSelector=ExposureTime}	0
ChunkEnable	{ChunkSelector=Gamma}	0
ChunkSelector	CounterValue
